The following R commands load the R RDBMS API library, and open a connection to the SQLite GWAS database file

In [1]:
library(DBI)

In [3]:
gwasdb <- dbConnect(RSQLite::SQLite(), "/shared/home/zliu/bds-files/chapter-13-out-of-memory/gwascat.db")

To execute SQL commands, embed your SQL statements as follows

dbGetQuery(gwasdb, 'SELECT * FROM gwascat')

You can directly assign the results of a SQL query to an R data frame class object

In [4]:
df <- dbGetQuery(gwasdb, 'SELECT * FROM gwascat limit 10')

In [5]:
df[3, 'author']

[1] "Ferreira MA"

In [6]:
dbListTables(gwasdb)

[1] "gwascat"

In [21]:
dbListFields(gwasdb, "gwascat")

 [1] "id"                       "dbdate"
 [3] "pubmedid"                 "author"
 [5] "date"                     "journal"
 [7] "link"                     "study"
 [9] "trait"                    "initial_samplesize"
[11] "replication_samplesize"   "region"
[13] "chrom"                    "position"
[15] "reported_genes"           "mapped_gene"
[17] "upstream_gene_id"         "downstream_gene_id"
[19] "snp_gene_ids"             "upstream_gene_distance"
[21] "downstream_gene_distance" "strongest_risk_snp"
[23] "strongest_risk_allele"    "snps"
[25] "merged"                   "snp_id_current"
[27] "context"                  "intergenic"
[29] "risk_allele_freq"         "pvalue"
[31] "pvalue_mlog"              "pvalue_text"
[33] "or_beta"                  "ci_95"
[35] "platform"                 "cnv"

to replace the SQLite dot command ".indices" for which there doesn't appear to be an R API wrapper function, use the following statement which queries the special internal SQLite table "sqlite_master":

In [8]:
dbGetQuery(gwasdb, 'select type, name, tbl_name, sql FROM sqlite_master WHERE type="index" ')

     type name tbl_name sql

In [18]:
dbGetQuery(gwasdb, 'SELECT trait, chrom, position, strongest_risk_snp, pvalue FROM gwascat LIMIT 5')

  trait                chrom position  strongest_risk_snp pvalue
1 Asthma and hay fever 6      32658824 rs9273373          4e-14
2 Asthma and hay fever 4      38798089 rs4833095          5e-12
3 Asthma and hay fever 5     111131801 rs1438673          3e-11
4 Asthma and hay fever 2     102350089 rs10197862         4e-11
5 Asthma and hay fever 17     39966427 rs7212938          4e-10

In [19]:
dbGetQuery(gwasdb, 'SELECT trait, chrom, position, strongest_risk_snp, pvalue FROM gwascat ORDER BY trait LIMIT 5')

  trait                                              chrom position
1 &beta;2-Glycoprotein I (&beta;2-GPI) plasma levels 11    34533644
2 &beta;2-Glycoprotein I (&beta;2-GPI) plasma levels 11     9090011
3 &beta;2-Glycoprotein I (&beta;2-GPI) plasma levels 11     9087740
4 &beta;2-Glycoprotein I (&beta;2-GPI) plasma levels 17    66137608
5 &beta;2-Glycoprotein I (&beta;2-GPI) plasma levels 17    66240200
  strongest_risk_snp pvalue
1 rs836132           5e-08
2 rs963167           1e-07
3 rs2647528          3e-07
4 rs7209395          7e-07
5 rs10048158         1e-06

In [20]:
dbGetQuery(gwasdb, 'SELECT trait, chrom, position, strongest_risk_snp, pvalue FROM gwascat WHERE strongest_risk_snp="rs429358"')

  trait                          chrom position strongest_risk_snp pvalue
1 Alzheimer's disease biomarkers 19    44908684 rs429358           5e-14
2 Alzheimer's disease biomarkers 19    44908684 rs429358           1e-06
3 Brain imaging                  NA          NA rs429358              NA

In [37]:
dbGetQuery(gwasdb, 'SELECT trait, chrom, position, strongest_risk_snp, pvalue FROM gwascat 
    WHERE position BETWEEN 24000000 AND 25000000 
    AND pvalue IS NOT NULL ORDER BY pvalue LIMIT 5')

  trait                                            chrom position
1 Liver enzyme levels (gamma-glutamyl transferase) 22    24603137
2 Gamma glutamyl transpeptidase                    22    24594246
3 Myopia (pathological)                            4     24576474
4 Liver enzyme levels (alkaline phosphatase)       6     24491247
5 Body mass index                                  2     24935139
  strongest_risk_snp pvalue
1 rs2073398          1e-109
2 rs4820599           7e-53
3 rs6841898           3e-26
4 rs1883415           6e-26
5 rs713586            6e-22

In [41]:
dbGetQuery(gwasdb, 'SELECT lower(trait) AS trait, "chr" || chrom || ":" || position AS region FROM gwascat LIMIT 5')

  trait                region
1 asthma and hay fever chr6:32658824
2 asthma and hay fever chr4:38798089
3 asthma and hay fever chr5:111131801
4 asthma and hay fever chr2:102350089
5 asthma and hay fever chr17:39966427

In [43]:
dbGetQuery(gwasdb, 'SELECT count(pvalue) FROM gwascat')

  count(pvalue)
1 17279

In [44]:
dbGetQuery(gwasdb, 'SELECT chrom, count(*) FROM gwascat GROUP BY chrom')

   chrom count(*)
1  NA      70
2  1     1458
3  10     930
4  11     988
5  12     858
6  13     432
7  14     451
8  15     575
9  16     704
10 17     536
11 18     402
12 19     549
13 2     1432
14 20     427
15 21     188
16 22     321
17 23     130
18 3     1033
19 4      818
20 5      915
21 6     1658
22 7      837
23 8      838
24 9      740

In [46]:
dbGetQuery(gwasdb, 'SELECT strongest_risk_snp, count(*) AS count FROM gwascat GROUP BY strongest_risk_snp ORDER BY count DESC LIMIT 5')

  strongest_risk_snp count
1 rs1260326          36
2 rs4420638          30
3 rs1800562          28
4 rs7903146          27
5 rs964184           25

In [47]:
dbGetQuery(gwasdb, 'SELECT substr(date, 1, 4) AS year FROM gwascat GROUP BY year')

  year
1 2005
2 2006
3 2007
4 2008
5 2009
6 2010
7 2011
8 2012
9 2013

In [48]:
dbGetQuery(gwasdb, 'SELECT substr(date, 1, 4) AS year, 
    round(avg(pvalue_mlog), 4) AS mean_log_pvalue,
    count(pvalue_mlog) AS n
    FROM gwascat GROUP BY year')

  year mean_log_pvalue n
1 2005  6.2474            2
2 2006  7.2340            8
3 2007 11.0973          434
4 2008 11.5054          971
5 2009 12.6279         1323
6 2010 13.0641         2528
7 2011 13.3437         2349
8 2012  9.6976         4197
9 2013 10.3643         5406

In [49]:
dbGetQuery(gwasdb, 'SELECT substr(date, 1, 4) AS year, 
    round(avg(pvalue_mlog), 4) AS mean_log_pvalue,
    count(pvalue_mlog) AS n
    FROM gwascat GROUP BY year
    HAVING count(pvalue_mlog) > 10')

  year mean_log_pvalue n
1 2007 11.0973          434
2 2008 11.5054          971
3 2009 12.6279         1323
4 2010 13.0641         2528
5 2011 13.3437         2349
6 2012  9.6976         4197
7 2013 10.3643         5406

In [51]:
dbGetQuery(gwasdb, 'SELECT year, avg(num_assoc)
    from (SELECT substr(date, 1, 4) AS year, 
        author,
        count(*) AS num_assoc
        FROM gwascat GROUP BY pubmedid)
    GROUP BY year')

  year avg(num_assoc)
1 2005  1.000000
2 2006  1.600000
3 2007  5.878378
4 2008  7.645669
5 2009  6.906250
6 2010  9.216606
7 2011  7.496815
8 2012 13.453674
9 2013 16.605505

In [59]:
dbGetQuery(gwasdb, 'SELECT date, pubmedid, author, strongest_risk_snp FROM gwascat
     WHERE pubmedid="24388013" LIMIT 5')

  date       pubmedid author      strongest_risk_snp
1 2013-12-30 24388013 Ferreira MA rs9273373
2 2013-12-30 24388013 Ferreira MA rs4833095
3 2013-12-30 24388013 Ferreira MA rs1438673
4 2013-12-30 24388013 Ferreira MA rs10197862
5 2013-12-30 24388013 Ferreira MA rs7212938

In [81]:
join1 <- dbConnect(RSQLite::SQLite(), "/shared/home/zliu/bds-files/chapter-13-out-of-memory/toy-joins/joins.db")

In [83]:
dbGetQuery(join1,'SELECT * FROM assocs')

Warning message in result_fetch(res@ptr, n = n):
“Column `study_id`: mixed type, first seen values of type integer, coercing other values of type string”

  id study_id trait             strongest_risk_snp
1 1  1        Asthma, hay fever rs9273373
2 2  1        Asthma, hay fever rs4833095
3 3  1        Asthma, hay fever rs1438673
4 4  2        Hypertension      rs2820037
5 5  2        Crohn's disease   rs6596075
6 6  0        Urate levels      rs12498742

In [84]:
dbGetQuery(join1,'SELECT * FROM studies')

  id pubmedid year journal
1 1  24388013 2013 J Allergy
2 2  17554300 2007 Nature
3 3  16252231 2005 Am J Hum Genet

In [86]:
dbGetQuery(join1,'SELECT studies.id AS study_id, assocs.id AS assoc_id, trait, year
    FROM assocs INNER JOIN studies ON assocs.study_id = studies.id')

  study_id assoc_id trait             year
1 1        1        Asthma, hay fever 2013
2 1        2        Asthma, hay fever 2013
3 1        3        Asthma, hay fever 2013
4 2        4        Hypertension      2007
5 2        5        Crohn's disease   2007

CREATE TABLES

In [92]:
df2 <- list('id integer primary key', 'chrom text', 'start integer', 'end integer', 'strand text', 'name text')

In [100]:
df2 <- data.frame(df2)
df2

  X.id.integer.primary.key. X.chrom.text. X.start.integer. X.end.integer.
1 id integer primary key    chrom text    start integer    end integer
  X.strand.text. X.name.text. Freq Freq.1
1 strand text    name text    1    1

In [101]:
dbDisconnect(gwasdb)